li.hitokoto {
  position: absolute;
  padding-left: 10px;
  bottom: 200px;
  width: 1320px;
  transform: translateX(-17%);
  line-height: 28px;
  text-align: center;
  mix-blend-mode: normal;
}

.hitokoto {
  color: color-contrast(var(--themeColor) vs white, black);
  font-size: 26px;
  text-decoration: none;
}
